.rowOne .taste {
  margin-top: 10px;
  font-weight: 100;
  font-size: 70px;
}
.rowOne h5 {
  font-size: 17px;
  font-weight: 400;
}
h1 {
  font-family: "Cormorant", serif;
  animation: showText 1s ease-out;
}
@keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
p {
  animation: showText 1s ease-out;
}
h4 {
  animation: showText 1s ease-out;
}
h5 {
  animation: showText 1s ease-out;
}

h6 {
  animation: showText 1s ease-out;
}
#btn {
  color: brown;
  background-color: rgb(250, 249, 249);
  border: 1px solid brown;
  border-radius: 0;
  margin-top: 100px;
  padding: 10px;
  width: 150px;
  animation: showText 1s ease-out;
}
#btn:hover {
  background-color: black;
  transition: 0.5s background-color;
  /* transition-delay: 0s; */
  color: white;
}
.form p {
  font-size: 14px;
}
input {
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 5px;
  background-color: rgb(250, 249, 249);
  animation: showText 1s ease-out;

  outline: none;
}
#submit {
  border: none;
  border-radius: 0%;
  background-color: rgb(92, 91, 91);
  color: white;
  height: 40px;
  width: 100%;
  animation: showText 1s ease-out;
}
#submit:hover {
  background-color: rgba(92, 91, 91, 0.719);
}
.about {
  font-weight: 100;
  font-size: 80px;
}
.rowTwo {
  margin-bottom: 100px;
}
.rowTwo h5 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 50px;
}
.rowTwo h6 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 50px;
}
.rowTwo #btn {
  margin-top: 10%;
}
.rowThree {
  margin-bottom: 200px;
}
.rowThree h5 {
  font-weight: 400;
  font-size: 16px;
}
.rowThree h6 {
  font-weight: 400;
  font-size: 16px;
}
.imgDiv {
  width: 320px;
  height: 360px;
}
.comFont {
  font-size: 40px;
  font-weight: 100;
}
.comH4Font {
  font-size: 18px;
  font-weight: 400;
}
.imgDivThree {
  width: 320px;
  height: 360px;
}
.contactCont {
  margin-top: 200px;
  margin-bottom: 200px;
}
.contactCont h1 {
  font-size: 80px;
  font-weight: 100;
}
.contactCont h6 {
  font-size: 18px;
  font-weight: 400;
}
.contactCont .enquirycol h6 {
  font-size: 16px;
  font-weight: 400;
}
.rowLast {
  margin-bottom: 100vh;
}
@media (min-width:375px) and (max-width: 425px) {
  .rowOne h5 {
    font-size: 14px;
  }
  .rowOne .taste {
    font-size: 30px;
 
  }
  .about {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 0%;
  }
  .rowTwo {
    margin-bottom: 0;
  }
  .rowTwo h5 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 3%;
    margin-bottom: 0%;
  }
  .desBox {
    border: 1px solid rgb(216, 214, 214);
    border-radius: 10px;
  }
  .rowTwo button {
    margin-top: 0px;
  }
  #btn {
    margin-top: 8%;
  }
  .rowTwo #btn {
    padding: 0%;
    margin-top: 10%;
    width: 120px;
    height: 35px;
    font-size: 14px;
  }
  .rowTwo .colImg {
    height: 45vh;
    padding: 0%;
    margin-bottom: 0%;
  }
  .rowThree {
    margin-bottom: 0%;
  }
  .rowThree h1 {
    margin-top: 5%;
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 0%;
  }
  .rowThree h6 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0%;
  }
  .comFont {
    font-size: 25px;
    font-weight: 400;
  }
  .comH4Font {
    font-size: 14px;
  }
     .imgDiv {
  width: 350px;
  height: 420px;
  margin: 0 auto ;
}
  .imgDivThree {
    width: 350px;
    height: 420px;
  margin: 0 auto ;

  }
  .contactCont .contactH1 {
    font-size: 40px;
  }
  .rowLast {
    margin-top: 0;
    margin-bottom: 60vh;
  }
 
}
@media(max-width:320px){
  #contact{
    /* margin-top: 0; */
    font-size: 35px;

  }
  #taste{
    font-size: 35px;

  }
  .about{
    font-size: 35px;
  }
   .imgDiv {
    /* padding: 10px; */
  width: 200px;
  height: 350px;
}
.imgDivThree{
  width: 280px;
text-align: center;
}
#chooseUs{
  font-size: 30px;
}
 .rowLast {
    margin-bottom: 20vh;
  }
}
@media  (max-width: 375px){
  .imgDiv {
  width: 280px;
  height: 350px;
}
.imgDivThree{
  width: 280px;
text-align: center;
}
}

