.contactCont{
    margin-top: 20vh;
}
.contactCont h1{
    font-size: 100;
    font-size: 75px;
}
.contactCont .form{
    margin-bottom: 100vh;
}
.contactCont .form p{
    font-size: 14px;
}
.contactCont .form input{
    width: 100%;
}